@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@600&family=Martel+Sans:wght@600&family=Poppins:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("images/bg.jpj.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
}

nav img {
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: 'Martel Sans', sans-serif;
    gap: 23px;
    padding: 0 30px;

}

.hero> :nth-child(1) {
    font-family: "poppins";
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero>:nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero>:nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 5px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border: 1px solid red;
    cursor: pointer;
    border-radius: 4px;
}

nav .en {
    border: 1px solid rgba(115, 102, 102, 0.747);
}

.btn-red {
    background-color: red;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    color: white;
    font-weight: 400;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}
.faq input{
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    /* background-color: rgba(23, 23, 23, 0.7); */
    background-color: #0f0f0f;
    border: 1px solid rgba(246, 238, 238, 0.5);
}
.faq .mail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mail span{
    font-size: 0.8rem;
}

.first {
    display: flex;
    justify-content: center;
    color: white;
    max-width: 70vw;
    margin: auto;
    align-items: center;
}



.secimg {
    position: relative;
}

.secimg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secimg video {
    width: 483px;
    position: absolute;
    top: 78px;
    right: 0;

}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

.first>div :first-child {
    font-size: 48px;
    font-weight: bolder;
}

.first>div :nth-child(2) {
    font-size: 24px;
    font-weight: bolder;

}

.faq {
    background-color: black;
    color: white;
    padding: 34px;

}

.faqbox:hover {
    /* color: #414141; */
    background-color: #414141;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all ease-out;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 10px auto;
    cursor: pointer;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

footer {
    color: white;
    margin: auto;
    max-width: 90vw;
    padding: 14px;
}

footer .questions {
    padding: 34px 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    margin-bottom: 25px;
}
@media screen and (max-width:1300px) {
    nav{
        max-width: 90vw;
    }
    .first {
        flex-wrap: wrap;
    }
    .secimg img {
        width: 305px;
    }
    .secimg video {
        width: 305px;
    }
    .hero> :nth-child(1) {
        font-size: 32px;
    }
    .hero> :nth-child(2) {
        font-size: 18px;
    }
    .hero> :nth-child(3) {
        font-size: 18px;
    }
    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
    .faq h2 {
        text-align: center;
        font-size: 32px;
    }
    .first>div :first-child {
        font-size: 2rem;
        font-weight: bolder;
    }
    .first>div :nth-child(2) {
        font-size: 1.125rem;
    }
    

}
@media screen and (max-width:1300px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}

.footer a {
    font-size: 14px;
    color: white;
    padding: 4px;
}

footer .footeritems {
    display: flex;
    flex-direction: column;
    grid: 23px;
}